.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.country-card h2 {
  margin-bottom: 10px;
}

.country-card img {
  width: 100%;
  border-radius: 4px;
}

.search-input {
  display: flex;
}

.search-text-input {
  padding-left: 30px;
  width: 300px;
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 650px;
}

body {
  background-image: url("../public/currencynotesbgmb.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  color: black;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue color */
  color: #fff;
  cursor: pointer;
}
